{% extends 'twitterapp/base.html' %}
{% load widget_tweaks %}
{% block content %}
    {% if not user.is_authenticated %}
         <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">ورود به حساب کاربری</h2>
                </div>
                <div class="panel-body">
                    <center>
                        <form method="POST">
                            {% csrf_token %}
                            <table>
                                <tr>
                                    <td>نام کاربری</td>
                                    <td>{{ form.username|add_class:'form-control' }}</td>
                                </tr>
                                <tr>
                                    <td>کلمه ی عبور</td>
                                    <td>{{ form.password|add_class:'form-control' }}</td>
                                </tr>
                                <tr>
                                    <td><a href={% url 'password_reset' %}>فراموشی رمز عبور</a></td>
                                </tr>
                                {% if form.errors %}
                                    <tr>
                                        <td id="error">خطا</td>
                                        <td>
                                            {% for field in form %}
                                                {% if field.errors %}
                                                    <li>{{ field.errors }}</li>
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endif %}
                            </table>
                            <input class="btn btn-primary" type="submit" value="ورود" />
                        </form>
                    </center>
                </div>
            </div>
        {% else %}
    {% endif %}
{% endblock %}
{% block title %}ورود{% endblock %}